        <!--pet Image-->
        <!--pet Image click collapse the image-->
        <div id={{pet.id}}>
          <a class="pet-grid__pet" >
              <img src={{pet.image}} class="pet-grid__img cursor image{{pet.id}}" sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" alt="">
          </a>
          <a class="pet-grid__pet cursor showimage{{pet.id}}" style="display: none;">
              show image
          </a>
        </div>

        <!--pet Meta-->
        <div class="pet-grid__meta">
            <!--Name click should redirect to the pet-details section. Remember to pass along the pet id so you can make an api call
        to get the specific pet details-->
            <h3 ui-sref="bio({id:'{{pet.id}}'})" class="pet-grid__name cursor"><a><!--Name-->{{pet.name}}</a></h3>

            <!--pet Breed-->
            <h4 class="pet-grid__sub"><!--Breed-->{{pet.breed}}</h4>

            <!--pet Age-->
            <div class="pet-grid__price"><!--Age-->{{pet.age}} in dog years</div>
        </div>
